{
  email dorsabag93@gmail.com
}

selftrading.org {
  encode gzip

  # Serve static UI except API
  @static {
    not path /api/*
  }
  reverse_proxy @static client-ui:80

  # Single proxy rule for all API routes
  reverse_proxy /api/* api_gateway:8000
}